<section class="collapsible-container">
  <ul materialize="collapsible" class="collapsible popout no-border" data-collapsible="accordion">
    <li *ngFor="let proposition of scrutin.Propositions"> 
      <div class="collapsible-header valign-wrapper">
          <div class="header-container">
              <div class="row valign-wrapper">
                  <div class="col s6 m6 l8">
                    <div class="row valign-wrapper">
                      <div class="col img-container">
                          <img src="assets/profil-candidate50x50.png" class="circle">
                      </div>
                      <div class="col">
                        <p class="name-candidate">
                          {{ proposition.Name }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col s6 m6 l4">
                    <div>
                      <a materialize="dropdown" (click)="$event.stopPropagation()" class='dropdown-button btn btn-grade grade-excellent' data-activates="dropdown">{{getLibelleChoix(proposition)}}</a>
                      <ul id='dropdown' class='dropdown-content'>
                        <li><a (click)="$event.stopPropagation();selectGrade(proposition, choix)" value="7" class="grade-excellent">Excellent</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation()" value="6" class="grade-very-good">Très bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectGrade('Bien')" value="5" class="grade-good">Bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation()" value="4" class="grade-fairly-well">Assez bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectGrade('Passable')" value="3" class="grade-fair">Passable</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectGrade('Insuffisant')" value="2" class="grade-insufficient">Insuffisant</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation()" value="1" class="grade-to-reject">A rejeter</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <div class="collapsible-body no-border"><p>{{ proposition.Description }}</p></div>
    </li>
  </ul>
</section>  
