<section class="collapsible-container">
  <ul materialize="collapsible" class="collapsible popout no-border" data-collapsible="accordion">
    <li *ngFor="let proposition of scrutin.propositions"> 
      <div class="collapsible-header valign-wrapper">
          <div class="header-container">
              <div class="row valign-wrapper">
                  <div class="col s6 m6 l8">
                    <div class="row valign-wrapper">
                      <div class="col img-container">
                          <img src="assets/profil-candidate50x50.png" class="circle">
                      </div>
                      <div class="col">
                        <p class="name-candidate">
                          {{ proposition.nom }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col s6 m6 l4">
                    <div>
                      <a materialize="dropdown" (click)="$event.stopPropagation()" class='dropdown-button btn' 
                          [ngClass]="getChoixClass(getChoixForPropositon(proposition))" data-activates="dropdown">
                        {{getChoixForPropositon(proposition)?getChoixForPropositon(proposition).nom: "Voter"}}
                      </a>
                      <ul id='dropdown' class='dropdown-content'>
                        <li *ngFor="let c of scrutin.mode.choix">
                          <a (click)="$event.stopPropagation();selectGrade(proposition, c);"  [ngClass]="getChoixClass(c)">
                            {{c.nom}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <div class="collapsible-body no-border"><p>{{ proposition.description }}</p></div>
    </li>
  </ul>
  <div class="row">
      <div class="col s12 center-align">
          <button [disabled]="isVote(voteMajoritaire)" 
                  (click)="vote(voteMajoritaire)" 
                  class="btn waves-effect waves-light" 
                  name="action">
                  Soumettre
      </button>
    </div>
  </div>
</section>  
