<section class="collapsible-container">
  <ul materialize="collapsible" class="collapsible popout no-border" data-collapsible="accordion">
    <li *ngFor="let proposition of scrutin.propositions"> 
      <div class="collapsible-header valign-wrapper">
          <div class="header-container">
              <div class="row valign-wrapper">
                  <div class="col s6 m6 l8">
                    <div class="row valign-wrapper">
                      <div class="col img-container">
                          <img src="assets/profil-candidate50x50.png" class="circle">
                      </div>
                      <div class="col">
                        <p class="name-candidate">
                          {{ proposition.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col s6 m6 l4">
                    <div>
                      <a materialize="dropdown" (click)="$event.stopPropagation()" class='dropdown-button btn btn-grade grade-excellent' data-activates="dropdown">{{getLabelGrade(proposition)}}</a>
                      <ul id='dropdown' class='dropdown-content'>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[0]);" class="grade-excellent">Excellent</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[1]);" class="grade-very-good">Très bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[2]);" class="grade-good">Bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[3]);" class="grade-fairly-well">Assez bien</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[4]);" class="grade-fair">Passable</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[5]);" class="grade-insufficient">Insuffisant</a></li>
                        <li class="divider"></li>
                        <li><a (click)="$event.stopPropagation();selectedGrade(proposition, scrutin.mode.choix[6]);" class="grade-to-reject">A rejeter</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          </div>
      </div>
      <div class="collapsible-body no-border"><p>{{ proposition.description }}</p></div>
    </li>
  </ul>
</section>  
