
<nav class="">
    <div class="nav-wrapper bg-primary-blue">
      <a href="#!" class="brand-logo">
        <img src="assets/images/logo-votein.png">
        <span>VoteIn</span>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">Scrutins</a></li>
        </ul>
    </div>
  </nav>

    <!--Injection des différents components ici-->
<router-outlet></router-outlet>

<footer class="page-footer bg-primary-blue">
  <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">VoteIn Project</h5>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Apollo SSC
    <a class="grey-text text-lighten-4 right" href="http://apollossc.com">Apollo SSC</a>
    </div>
  </div>
</footer>