
<article class="container">
    <!--Injection des différents components ici-->
    <router-outlet></router-outlet>
    <footer class="page-footer blue-grey darken-1">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="">Footer Content</h5>
                <p class="">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="">Liens utiles</h5>
                <ul>
                  <li><a class="" href="#!">Link 1</a></li>
                  <li><a class="" href="#!">Link 2</a></li>
                  <li><a class="" href="#!">Link 3</a></li>
                  <li><a class="" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Apollo SSC
            <a class="right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</article>