<div class="section">
    <div class="row container">
        <h2 class="header center-align">Organisez gratuitement vos scrutins avec VoteIn</h2>
        <p class="grey-text text-darken-3 lighten-3 center-align">
            <a class="waves-effect waves-light btn btn-large bg-primary-blue" (click)="goToCreatePoll()">Créer un scrutin</a>
        </p>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h2>Le vote alternatif</h2>
                        <h4 class="custom-title">où est-ce utilisé ?</h4>
                        <div class="custom-border"></div>
                        <p class="custom-description">
                            Le vote alternatif, c’est le système de vote utilisé pour l’élection présidentielle en Irlande,
                            pour les législatives australiennes et les élections locales à San Francisco.
                        </p>
        
                        <h4 class="custom-title">comment vote-t-on ?</h4>
                        <div class="custom-border"></div>
                        <p class="custom-description">
                            Les électeurs ne votent qu’une fois, en classant tous les candidats par ordre de préférence.
                            Si leur premier choix est éliminé, alors c’est leur second choix qui récupère leur voix.
                        </p>
        
                        <h4 class="custom-title">qui gagne ?</h4>
                        <div class="custom-border"></div>
                        <p class="custom-description">
                            <strong>Si un candidat obtient la majorité dès le premier décompte, il est élu. </strong><br>
                            Si personne personne n’obtient la majorité, on élimine le candidat
                            ayant récolté le moins de voix. Les voix du candidat éliminé sont reportées
                            vers le deuxième choix des électeurs.<br><br>
        
                            Si après ce deuxième décompte, il n’y a toujours pas de candidat élu,
                            on élimine de nouveau le candidat ayant recueilli le moins de voix… et ainsi de suite,
                            jusqu’à temps qu’un candidat obtienne la majorité absolue
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h2>Le scrutin majoritaire</h2>
                        Ils constituent le mode le plus ancien de désignation des élus. Il s’agit d’attribuer un siège (scrutin uninominal) ou plusieurs sièges (scrutin plurinominal) à celui ou ceux qui ont obtenu le plus de voix.
                        
                        Dans le scrutin uninominal à un tour (ex : en Grande-Bretagne), celui qui obtient le plus de voix emporte le siège. Cela a l’avantage de la simplicité. Au plan global, il résulte souvent pour le parti arrivé en deuxième position une sous-représentation par rapport à son total de voix. Quant aux autres partis, ils n’obtiennent presque aucun élu. Par ailleurs, la représentation géographique des partis influence beaucoup le résultat final dans la mesure où un petit parti très bien implanté peut être représenté, mais aussi où le parti ayant obtenu le plus de voix au plan national peut se voir privé de sa victoire car ses suffrages sont trop dispersés.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax" materialize="parallax">
        <img src="http://www.ouest-france.fr/leditiondusoir/data/975/NextGenData/Image-1024-1024-258971.jpg?t=%22702d6780e649890aea0b93fecccd7f06gzip%22">
    </div>
</div>